@model FizzBuzzProject.Models.FizzBuzzModel
<div class="container">
    <div class="row py-5 row-cols-1 row-cols-md-2">
        <div class="col-md-6 border-end border-2">
            <h1 class="fw-bold display-5 1h-1 mb-3">[Fizz Buzz] A Coding Project</h1>
            <h4 class="lead">
                When it counts you Fizz Buzz. A favascript coding exercise using loops.
                Write a program that prints the numbers from 1 to 100 and for multiples of "3"
                display "Fizz" instead of the number and for multiples of '5' display "Buzz"
                . If it is multiple of both display <strong>"FizzBuzz".</strong>
            </h4>
            <h4 class="pt-4 border-bottom border-2">Instructions</h4>
            <p>Enter a starting and ending values. Press the button and the values will appear.</p>

        </div>

        <div class="col-md-6">
            <h6>Enter values</h6>
            <form class="row" asp-action="FizzBuzz" asp-controller="Home" method="post">
                <div class="col">
                    <input asp-for="StartValue" class="form-control" value="@Model.StartValue" max="100" min="1" />
                </div>
                <div class="col">
                    <input asp-for="EndValue" class="form-control" value="@Model.EndValue" max="100" min="1" />
                </div>
                <div class="col-12 d-flex justify-content-end mt-2">
                    <button class="btn btn-dark " type="submit">Display Results</button>
                </div>
            </form>

            <div class="pt-5">
                <h4 class="border-bottom border-2"><b>Results</b></h4>

            </div>

        </div>
    </div>

</div>